In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium.webdriver.edge.service import Service

In [3]:
s = Service("msedgedriver.exe")

### Yatra.com

In [439]:
url =  'https://www.yatra.com/'
driver = webdriver.Edge(service = s)
driver.maximize_window() 
driver.get(url)
i=0
while(i<10):
   driver.execute_script("window.scrollBy(0,100)") # scroll down to get more images
   i+=1

In [397]:
flturl =[]

In [398]:

    flturl_tag = driver.find_elements_by_xpath("//a[@class='VueCarousel-slide items']")

    for u in flturl_tag:
     try: 
        flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
        
    locbtn1 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[2]')
    locbtn1.click()
    
    for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
    time.sleep(1)
    
    locbtn2 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[3]')
    locbtn2.click()
    
    for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
    time.sleep(1)
    
    locbtn3 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[4]')
    locbtn3.click()
    
    for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
    time.sleep(1)
    
    locbtn4 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[5]')
    locbtn4.click()
    
    for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
    time.sleep(1)
    
    locbtn5 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[6]')
    locbtn5.click()
    
    for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
    time.sleep(1)

In [399]:
len(flturl)

120

In [401]:
flturl = [ x for x in flturl if "https://www.yatra.com/international-flights/" not in x ] #removing foreign flight links

In [402]:
len(flturl)

60

In [440]:
airline = [] 
fltnum= [] 
src= [] 
deptdate = []
stops= [] 
duration= [] 
price= []
n = []

In [441]:
for l in flturl:
    driver.get(l)
    time.sleep(4)
    ltag= driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div[3]/div[1]/div[1]/article/div[2]/strong[5]/a")
    for u in ltag:
        try: 
         n.append(u.get_attribute("href"))
        except:
         n.append('-')
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text)
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text)
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text)
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text)
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text)
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text)
    except:
        deptdate.append('-')

In [460]:
for l in n:
    driver.get(l)
    time.sleep(4)
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text)
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text)
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text)
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text)
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text)
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text)
    except:
        deptdate.append('-')

In [461]:
dest=[]
source=[]
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [479]:
FlightDF= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate[0:1175],'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})

In [480]:
FlightDF

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Air Asia,I5-764,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
1,IndiGo,6E-2054,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
2,IndiGo,6E-5001,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
3,IndiGo,6E-2046,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
4,IndiGo,6E-5328,"Tue, Feb 8",New Delhi,Mumbai,2h 15m,Non Stop,"2,456"
...,...,...,...,...,...,...,...,...
1170,Air India,AI-822/423,"Thu, Dec 2",Srinagar,Kolkata,20h 50m,3 Stop(s),"6,048"
1171,Air India,AI-826/423,"Thu, Dec 2",Srinagar,Kolkata,22h 40m,2 Stop(s),"6,048"
1172,Air India,AI-828/423,"Thu, Dec 2",Srinagar,Kolkata,23h 40m,2 Stop(s),"6,048"
1173,IndiGo,6E-431/6086,"Thu, Dec 2",Srinagar,Kolkata,8h 50m,1 Stop,"6,424"
1174,SpiceJet,SG-8475/8253,"Thu, Dec 2",Srinagar,Kolkata,13h 15m,1 Stop,"6,635"

In [487]:
FlightDF.to_csv('FlightDatascrape.csv') # Saving as .csv file

### EaseMyTrip

In [49]:
url =  'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver = webdriver.Edge(service = s)
driver.maximize_window() 
driver.get(url)

In [59]:
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=BOM-Mumbai,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=28/11/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=DEL-Delhi,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/11/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=GOI-Goa,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=30/11/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=BLR-Bangalore,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=01/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=GOI-Goa,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=02/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PAT-Patna,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=03/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=CCU-Kolkata,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=04/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PNQ-Pune,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=05/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=CCU-Kolkata,%20India%20,&dept=DEL-Delhi,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=06/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=BLR-Bangalore,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=07/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=']

In [60]:
airline = [] 
fltnum= [] 
src= [] 
deptdate = []
stops= [] 
duration= [] 
price= []

In [61]:

for l in n:
    driver.get(l)
    time.sleep(4)
    al=[]
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)
            al.append(i.text)
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text)
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text)
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text)
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text)
    except:
        price.append('-')

In [62]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[]
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            
            al.append(i.text)
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text)
    except:
        deptdate.append('-')

In [80]:
Price = list(filter(None, price))#removing blank elements from list

In [83]:
dest=[]
source=[]
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [87]:
FlightDF2= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate[0:1410],'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price})

In [88]:
FlightDF2

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,SpiceJet,SG-8157,Dec 01,Delhi,Mumbai,02h 20m,non-stop,"5,953"
1,AirAsia,I5-764,Dec 01,Delhi,Mumbai,02h 10m,non-stop,"5,956"
2,GO FIRST,G8- 330,Dec 01,Delhi,Mumbai,02h 05m,non-stop,"5,954"
3,GO FIRST,G8- 334,Dec 01,Delhi,Mumbai,02h 10m,non-stop,"5,954"
4,Indigo,6E-2054,Dec 01,Delhi,Mumbai,02h 10m,non-stop,"5,955"
...,...,...,...,...,...,...,...,...
1405,Vistara,UK-613,Dec 07,Mumbai,Bangalore,08h 10m,2+-stop,"15,581"
1406,Vistara,UK-653,Dec 07,Mumbai,Bangalore,12h 15m,1-stop,"15,603"
1407,Air India,AI-675,Dec 07,Mumbai,Bangalore,17h 10m,1-stop,"15,498"
1408,Vistara,UK-651,Dec 07,Mumbai,Bangalore,26h 10m,1-stop,"17,283"
1409,Vistara,UK-930,Dec 07,Mumbai,Bangalore,08h 30m,1-stop,"19,593"

### Combining the 2 DataFrames

In [89]:
FlightDF =  pd.read_csv('FlightDatascrape.csv')

In [90]:
FlightDF

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0,Air Asia,I5-764,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
1,1,IndiGo,6E-2054,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
2,2,IndiGo,6E-5001,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
3,3,IndiGo,6E-2046,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
4,4,IndiGo,6E-5328,"Tue, Feb 8",New Delhi,Mumbai,2h 15m,Non Stop,"2,456"
...,...,...,...,...,...,...,...,...,...
1170,1170,Air India,AI-822/423,"Thu, Dec 2",Srinagar,Kolkata,20h 50m,3 Stop(s),"6,048"
1171,1171,Air India,AI-826/423,"Thu, Dec 2",Srinagar,Kolkata,22h 40m,2 Stop(s),"6,048"
1172,1172,Air India,AI-828/423,"Thu, Dec 2",Srinagar,Kolkata,23h 40m,2 Stop(s),"6,048"
1173,1173,IndiGo,6E-431/6086,"Thu, Dec 2",Srinagar,Kolkata,8h 50m,1 Stop,"6,424"
1174,1174,SpiceJet,SG-8475/8253,"Thu, Dec 2",Srinagar,Kolkata,13h 15m,1 Stop,"6,635"

In [91]:
FlightData = pd.concat([FlightDF,FlightDF2],ignore_index=True)

In [92]:
FlightData

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0.0,Air Asia,I5-764,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
1,1.0,IndiGo,6E-2054,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
2,2.0,IndiGo,6E-5001,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
3,3.0,IndiGo,6E-2046,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
4,4.0,IndiGo,6E-5328,"Tue, Feb 8",New Delhi,Mumbai,2h 15m,Non Stop,"2,456"
...,...,...,...,...,...,...,...,...,...
2580,NaN,Vistara,UK-613,Dec 07,Mumbai,Bangalore,08h 10m,2+-stop,"15,581"
2581,NaN,Vistara,UK-653,Dec 07,Mumbai,Bangalore,12h 15m,1-stop,"15,603"
2582,NaN,Air India,AI-675,Dec 07,Mumbai,Bangalore,17h 10m,1-stop,"15,498"
2583,NaN,Vistara,UK-651,Dec 07,Mumbai,Bangalore,26h 10m,1-stop,"17,283"
2584,NaN,Vistara,UK-930,Dec 07,Mumbai,Bangalore,08h 30m,1-stop,"19,593"

In [93]:
FlightData.drop(columns=['Unnamed: 0'],inplace=True) #dropping Unnamed: 0 column

In [96]:
FlightData.to_csv('FlightDataWebscrape.csv') # Saving as .csv file

In [97]:
FlightData

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Air Asia,I5-764,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
1,IndiGo,6E-2054,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
2,IndiGo,6E-5001,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
3,IndiGo,6E-2046,"Tue, Feb 8",New Delhi,Mumbai,2h 10m,Non Stop,"2,456"
4,IndiGo,6E-5328,"Tue, Feb 8",New Delhi,Mumbai,2h 15m,Non Stop,"2,456"
...,...,...,...,...,...,...,...,...
2580,Vistara,UK-613,Dec 07,Mumbai,Bangalore,08h 10m,2+-stop,"15,581"
2581,Vistara,UK-653,Dec 07,Mumbai,Bangalore,12h 15m,1-stop,"15,603"
2582,Air India,AI-675,Dec 07,Mumbai,Bangalore,17h 10m,1-stop,"15,498"
2583,Vistara,UK-651,Dec 07,Mumbai,Bangalore,26h 10m,1-stop,"17,283"
2584,Vistara,UK-930,Dec 07,Mumbai,Bangalore,08h 30m,1-stop,"19,593"